*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

body{
    font-family: Monserrat;
}

.main{
    &__wrap{
        display: flex;
    }
    &__title{
        font-family: 68px;
        font-weight: 500;
        color: #156963;
    }
    &__texts{
        padding: 186px 72px 110px 72px;
    }
    &__text{
        color: #2c1500;
        font-weight: 400;
        font-size: 18px;
    }
    &__btns{
        display: flex;
    }
    &__btn{
        display: flex;
        flex-direction: column;
    }
    &__link{
        color: #333;
        font-weight: 500;
        font-size: 24px;
        text-decoration: none;
    }
    &__info{
        color: #156963;
        font-size: 32px;
        font-weight: 500;
    }
}